<h1>Eat-Da-Burger</h1>

<h3>I want to try..</h3>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
        <li>
            <p>{{id}} {{burger_name}}</p>
            <button type="button" data-burgerid="{{id}}" class="eatBurger">Devour</button>
        </li>
    {{/unless}}
    {{/each}}
</ul>

<h3>I've already had..</h3>
<ul>
    {{#each burgers}}
    {{#if devoured}}
        <li>
            <p>{{id}} {{burger_name}}</p>
        </li>
    {{/if}}
    {{/each}}
</ul>

{{!-- <form>
  <div class="form-group">
    <input type="text" class="form-control" id="newBurgerName">
  </div>
  <button type="submit" class="btn btn-primary" id="addBurger">Submit</button>
</form> --}}

<form class="create-form">
<div class="form-group">
    <textarea type="text" class="form-control" id="newBurgerName" name="name"></textarea>
    <br />
    <button class="btn btn-primary" type="submit">Submit</button>
    <p>Enter a burger you want to eat.<br>Click the "Submit" button</p>
</div>
</form>